* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    perspective-origin: 600px;
    padding-top: 300px;
}

.parent {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background: transparent;
    transform-style: preserve-3d;
    transition: all 2s;
}

.parent:hover {
    transform: rotateY(180deg);
}

p {
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
}

.front {
    background-color: red;
    backface-visibility: hidden;
    z-index: 1;

}

.back {
    background-color: green;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 2;
}